

     a {
          color: white;
      }

	    #content .grey{
			background-color:#D8D8D8;
			color:purple;
	    }
	    #content .yellow{
			background-color:#F7D358;
			color:purple;
	    }
		#content .job {
			border-style:solid;
			border-width:8px;
			border-color:white;
			border-radius: 10px;
			font-size:14px;
			font-family:verdana;
			width:500px;
            margin-left:auto;
            margin-right:auto;
			padding:10px;
			margin:5px;
		   }
       #content .hidden {
           display: none;
       }

       #content .highlighted {
           font-size: 40px;
       }

         #content {
             margin-top:20px;
         }
         #content .glow-sortable-dropindicator {
            border: 2px dotted #a22;
            margin: 10px;
        }

         #content .job strong {
             cursor: move;
             display: block;
             padding: 1em 1em 0;
         }

	  #content .red {
		border-radius: 5px;
		background-color:#FF4000;
		color:white;
		font-family:verdana;
		padding:10px;
		margin:5px;
	   }

      #content .red_anime {
        border-radius: 5px;
		background-color:white;
		color:#FF4000;
		font-family:verdana;
		padding:10px;
		margin:5px;
      }

      #content .job .red_anime a {
		 color:#FF4000;
      }
      #content .blue_anime {
          border-radius: 5px;
		background-color:white;

		color:#58ACFA;
		font-family:verdana;
		padding:10px;
		margin:5px;
      }

      #content .job .blue_anime a {
		 color:#58ACFA;
      }
	#content .blue {
		border-radius: 5px;
		background-color:#58ACFA;
		color:white;
		font-family:verdana;
		padding:10px;
		margin:5px;
	   }

	 #content .title {
	     font-size: 25px;
	  }

	 #content .job a {
		color:#2E2E2E;
	}
	 h1 {
		font-size: 40px;
		font-style: italic;
		font-family: verdana;
		color:white;
	}
    header {
        height: 10px;
        line-height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    #config {
        float:right;
        font-family: verdana;
        color: black;
    }

    #config a {
        font-family: verdana;
        color: black;
    }

    footer {
        bottom: 0;
        border-bottom: 1px solid #58ACFA;
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
        height: 10px;
        line-height: 20px;
        padding: 30px 0;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    footer img {
        margin-top: -50px;
    }