@(backgroundColour : String, jobs: List[BuildJobUtils.BuildMonitorJob])

 <script type="text/javascript">
    $(document).ready(function(){
          var shortable = new glow.widgets.Sortable('#content');
});
    </script>

        <style type="text/css">
            body {
	    color: white;
	    background-color: @backgroundColour }
        </style>

    @for(job <- jobs){
            <div class="job @job.getColour()">
                <strong><a class="title" href="@job.getUrl()" >@job.getName()</a>
                          - Build: <a href="@job.getLatestBuildUrl()">#@job.getLatestBuildNumber()</a>
                @if(job.inProgress()){
                   <!--img src="@routes.Assets.at("images/progress.gif")" /-->
                            <i>BUILD IN PROGRESS</i>
                }
                    </strong>
            </div>
    }
